<script>
  $(document).ready(function() {
    $('#entries .tbody').sortable({
      connectWith: '#entries .tbody',
      update: live.update_entry_numbers
    }).disableSelection();
  });
</script>

<div id="entries" class="table">
  <div class="thead">
    <div class="row">
      <span class="cell"><%= Entry.human_attribute_name :entry_no %></span>
      <span class="cell"><%= Entry.human_attribute_name :band_id %></span>
      <span class="cell"></span>
    </div>
  </div>
  
  <div class="tbody">
    <% @live.entries.each_with_index do |e, i| %>
      <%= render 'entry_fields', :entry => e, :index => i %>
    <% end %>
  </div>
  
  <div class="tfoot">
    <div class="row">
      <span class="cell"></span>
      <span class="cell"></span>
      <span class="cell">
        <%= link_to '追加', {:action => 'new_entry'}, :onclick => 'live.add_entry(this); return false;' %>
      </span>
    </div>
  </div>
</div>
