h1 {
  margin: 0;
}

.hidden {
  display: none;
}

.table {
  display: table;
    
}

.thead {
  display: table-header-group;
}

.tbody {
  display: table-row-group;
}

.tfoot {
  display: table-footer-group;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}
